@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Oswald:wght@200;300;400;500;600;700&display=swap');

.Event {
    border: 1px solid black;
    border-radius: 20px;
    margin: 5%;
    padding: 5%;
    font-family: 'Cabin';
}